body {
    margin: 0;
    padding: 0;
    background-color: rgb(3, 15, 43);
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    
    overflow: ;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
a{
    display: flex;
    align-items: center;
    justify-content: stretch;
    position: fixed;
    margin-top: 80px;
    margin-left: 1800px;
    color:white;
}
div.header{
    display: flex;
    justify-content: stretch;
    align-items: center;
    position: fixed;
    margin-top: 50px
}
div.header2{
    display: flex;
    justify-content: stretch;
    align-items: center;
    position: fixed;
    top: 170px;
    font-size: 26px;
}
.header span{
    padding: 1px 20px;
    background-color: rgb(225, 156, 59);
    color: rgb(31, 31, 59);
    margin-left: 10px;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.flex-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.Basic{
    margin-top: 60px;
    margin-bottom: 30px;
}
.A{
    margin-bottom: 30px;
}
.Free{
    margin-bottom: 50px;
}
.flex-box1{
    width: 450;
    height: 840;
    background: rgb(29, 42, 72);
    color: white;
    font-size: 16px;
    text-align: justify;
    line-height: 20px;
    border-radius: 20px;
    margin-top: 270px;
    margin-left: 100px;
    margin-right: 80px;
}
.flex-box2{
    width: 450;
    height: 840;
    background: rgb(29, 42, 72);
    color: white;
    font-size: 16px;
    text-align: justify;
    line-height: 35px;
    border-radius: 20px;
    margin-top: 270px;
    margin-right: 80px;
    border: 3px solid orange;
    box-shadow: 0.5cm;
    
}
.flex-box3{
    width: 450;
    height: 840;
    background: rgb(29, 42, 72);
    color: white;
    font-size: 16px;
    text-align: justify;
    line-height: 35px;
    border-radius: 20px;
    margin-top: 270px;
    margin-right: 200px;
}
li{
    color: rgb(255, 255, 255);
    font-size: 24px;
    list-style: none;
    font-style:inherit;
    margin-bottom: 0px;
}

li:not(:last-child){
    margin-left: 2px;
    margin-right: 10px;
    margin-bottom: 0px;
}
li::before{
    color: rgb(179, 151, 82);
    content: "\2714 ";
    margin-left: 2px;
    margin-right: 10px;
}
.xros li{
    color: grey;
    font-size: 24px;
    list-style: none;
    font-style: inherit;
   
}
.xros li:not(:last-child){
    margin-left: 2px;
    margin-right: 20px;
    margin-bottom:40px;
    margin-top:-20px;
}
.xros li::before{
    color: grey;
    content: "\10102";
    margin-left: 0;
    margin-right: 10px;
    font-size: 30px;
    
}
p{
    color: grey;
    font-size: 26px;
    margin-top: 190px;
}
.Pro span{
    padding: 4px 20px;
    background-color: rgb(225, 156, 59);
    color: rgb(31, 31, 59);
    margin-left: 10px;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 10px;
}
.box2 li{
    margin-left:20px;
    margin-top: 20px;
}
.Try{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px;
    background-color: rgb(225, 156, 59);
    color: rgb(31, 31, 59);
    border-radius: 10px;
    margin-top: 180px;
    margin-left: 50px;
    margin-right: 50px;

}
.Pro2 span{
    padding: 4px 20px;
    background-color: rgb(225, 156, 59);
    color: rgb(31, 31, 59);
    margin-left: 10px;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 10px;
}
.box3 li{
    margin-top:20px ;
    margin-left: 60px;
}
.Select{
    font-size: 20px;
    padding: 10px 10px;
    border: 2px solid orange;
    border-radius: 10px;
    margin-top: 180px;
    margin-left: 50px;
    margin-right: 50px;
}
.Select :hover{
   color: orange;
}
